@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    font-family: Roboto;
    background-color: #b5b6bf;
    padding: 10px;
    color: #ffffff;
  }

.header {
    background-color: #333465;
    padding-top: .3em;
  }

.nav {
    font-family: Roboto ;
    font-size: 1.8em;
    background-color: #333465;
    padding: .5em;
    padding-left: 0.8em;
    padding-top: 0em;

  }

.nav a {
    color: #b5b6bf;
    text-decoration: none;
    margin-right: 1.1em; 
  }

.articleList {
    background-color: #b5b6bf;
}

.articleCard {
    border-radius: 10px;
    background-color: #333465;
    padding-left: 1.5em;
    padding-right: 2.5em;
    margin-bottom: 0.2em; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }

.articleCardContent {
    display: flex;
    flex-direction: column; 
    margin-left: 1em; 
  }

.articleCard h2 {
    font-size: 1.22em;
    margin-bottom: 0em;
    text-decoration: none;
    color: #dbd9cd;
  }

.articleCardRow1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

.articleCardRow1 p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    color: #c9cbd5;
    font-size: 0.8em;
  }

.articleCardRow2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    color: #c9cbd5;
  }

.articleCardRow2 p {
  
    margin-right: 2em; 
    margin-top: 0em;
  }

.articleCard img {
    width: 9em; 
    height: auto;
    margin-right: .5em; 
  }


.commentsSection {
    background-color: #c9cbd5; 
  }


.commentCard {
    display: flex;
    font-size: .9em;
    background-color: #333465; 
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: .5em;
    justify-content: center;
    align-items: center;
  }

.commentCardColumn1 {
    padding-left: 1em;
    line-height: .5em;
    flex: 1;
  }

.commentCardColumn2 {
    flex: 6;
    line-height: 1em;
    padding-left: 1em;
  }

.commentCard.deleted {
    background-color: #a1a3b1;
  }

.commentsTitle {
    font-size: 1.3em;
    color: #333465;
    text-decoration: none;
    margin-left: .2em; 
    margin-top: 1em;
    line-height: .2em;
  }


  .articleContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .article {
    display: flex;
    justify-content: space-between;
    line-height: 1.22em;
    padding-right: 0.5em;
    background-color: #333465;
    color: #dbd9cd;
  }
  
  .article img {
    width: 100%;
    height: auto;
    padding-left: 1em;
    padding-top: 1em;
  }
  
  .articleLeft {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0em;
  }
  
  .voteButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 1em;
  }
  
  .voteButtons img {
    object-fit: contain;
    width: 27%;
    height: 80%;
    padding: 0.7em;
  }
  
  .voteButtons p {
    font-size: 4em;
    text-align: center;
  }
  
  .articleRight {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 1em;
  }

  .addCommentsButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3em;
    color: #333465;
    text-decoration: none;
  }
  
  .commentForm {
    color: #333465;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    background-color: #b5b6bf; 
    width: 85%; 
  }
  
  .commentForm label {
    display: flex;
    flex-direction: column;
  }
  
  .commentForm input,
  .commentForm textarea {
    color: #333465;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%; 
  }
  
  .commentForm textarea {
    height: 6em; 
  }
  
  .commentForm button {
    color: #333465;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 10em;
    align-self: flex-start; 
  }

  .topicButtons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    gap: 1em;
    margin-left: 1em;
    margin-block-end: 5em;
  }
  
  .topicButtons a {
    display: flex;
    align-items: center; 
    color: #333465;
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .topicButtons p {
    display: flex;
    margin-top: 1.8em;
    margin-left: .5em;
    font-size: 1em;
    flex-wrap: wrap;
  }
  
  .topicButtons button {
    display: flex;
    margin-top: 0.5em;
    background-color: #333465;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    color:#c9cbd5;
    padding: .4em;
    cursor: pointer;

  }

  .sortContainer  {
    color: #333465;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 0em;
    margin-left: 0.5em;
  }
  
  .sortTopicButtons button, 
  .sortOrderButtons button {
    background-color: #c9cbd5;
    color: #333465;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .sortTopicButtons button.active, 
  .sortOrderButtons button.active {
    background-color: #333465; 
    color: #c9cbd5;
  }

  .deleteCommentBut {
    background-color: #c9cbd5;
    color: #333465;
    border: none;
    padding: 4px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .article {
      flex-direction: column;
    }
  
    .articleRight {
      padding-left: 0.5em;
    }

    .article img {

      padding-left: 0.5em;
      padding-top: 0.5em;
    }
    .articleCard {
      flex-direction: column;
  }
  .articleCard img {
    width: 17em; 
    margin-top: 1em; 
  }
  }