.App {
    background-color: #b5b6bf;
    padding: 5px;
    color: #ffffff;
  }

.header {
    background-color: #333465;
    padding: 10px;
    margin-bottom: 5px;
  }

.nav {
    background-color: #333465;
    padding: 10px;
    margin-bottom: 10px;
  } 

.articleList {
  background-color: #b5b6bf;
  }

.articleCard {
    background-color: #333465;
    padding-left: 20px;
    padding-right: 10em;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }

.articleCardRow {
    display: flex;
    justify-content: space-between;
  }