@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    font-family: Roboto;
    background-color: #b5b6bf;
    padding: 10px;
    color: #ffffff;
  }

.header {
    background-color: #333465;
    padding-top: .3em;
  }

.nav {
    font-family: Roboto ;
    font-size: 1.8em;
    background-color: #333465;
    padding: .5em;
    padding-left: 0.8em;
    padding-top: 0em;
    margin-bottom: 0.6em;
  }

.nav a {
    color: #b5b6bf;
    text-decoration: none;
    margin-right: 1.1em; 
  }

.articleList {
    background-color: #b5b6bf;
}

.articleCard {
    border-radius: 10px;
    background-color: #333465;
    padding-left: 1.5em;
    padding-right: 2.5em;
    margin-bottom: 0.4em; 
    display: flex;
    flex-direction: row; /* Align flex items side by side */
    align-items: center; /* Vertically center the flex items */
  }

.articleCardContent {
    display: flex;
    flex-direction: column; /* Stack the rows vertically */
    margin-left: 1em; /* Add some margin to the left of the text */
  }

.articleCard h2 {
    font-size: 1.22em;
    margin-bottom: 0em;
    text-decoration: none;
    color: #dbd9cd;
  }

.articleCardRow1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

.articleCardRow1 p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    color: #c9cbd5;
    font-size: 0.8em;
  }

.articleCardRow2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    color: #c9cbd5;
  }

.articleCardRow2 p {
    margin-right: 1.5em; 
    margin-top: 0em;
  }

.articleCard img {
    width: 9em; /* Adjust this value to change the size of the image */
    height: auto;
    margin-right: .5em; /* Add some margin to the right of the image */
  }

.article {
    padding-right: 0.5em;
    background-color: #333465;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    color: #dbd9cd;
  }

.article div:first-child {
    padding-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.article img {
    width: 100%;
    height: auto;
  }